swagger: "2.0"
info:
  version: "0.0.1"
  title: Timebot API
# during dev, should point to your local machine
host: localhost:10010
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /task:
    # binds a127 app logic to a route
    x-swagger-router-controller: timebot_task
    put:
      description: Store the 'Task' in the system.
      # used as the method name of the controller
      operationId: taskput
      parameters:
        - name: name
          in: header
          description: The name of the task to be stored. 
          required: true
          type: string
        - name: submitterid
          in: header
          description: Your unique key to store against the task.
          required: true
          type: string        
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/TaskPutResponse"
        "400":
          description: error
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ErrorResponse"  
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"  
    get:
      description: Returns 'Add Task' to the caller
      # used as the method name of the controller
      operationId: taskget
      parameters:
        - name: id
          in: header
          description: The name of the task to be stored. 
          required: true
          type: string   
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/TaskGetResponse"
        "400":
          description: error
          schema:
            # a pointer to a definition
            $ref: "#/definitions/ErrorResponse"            
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"                         
  /swagger:
    x-swagger-pipe: swagger_raw   
# complex objects have schema definitions
definitions:
  TaskPutResponse:
    type: "object"
    required: 
        - "message"
        - "taskid"
    properties:
      message:
        type: string
      taskid:
        type: string 
  TaskGetResponse:
    type: "object"
    required: 
        - "message"
    properties:
      message:
        type: string
  ErrorResponse:
    type: "object"
    required: 
        - "error"
    properties:
      error:
        type: string
